<div classs="form-container">
  <h2>Simple Form</h2>
  <form [formGroup]="userForm" (ngSubmit)="submitForm()">
    <label for="name"> Name: </label>
    <input id="name" type="text" formControlName="name" />

    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email" />
    <div
      *ngIf="userForm.controls.name.invalid && userForm.controls.name.touched"
      style="color: red"
    >
    Name is required
  </div>

    <label for="phone-number">Phone Number:</label>
    <input id="phone-number" type="contact" formControlName="contact" />

    <label for="passwprd">Password</label>
    <input id="password" type="password" formControlName="password" />

    <button type="submit">submit</button>
  </form>
</div>
